{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valgus | Ready-Made Systems</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/VALGUS.png' %}" type="image/x-icon">
</head>
<body class="dark-mode"> 
<div class="main-wrapper">
    <nav class="side-nav">
        <a href="/">HOME</a>
        <a href="{% url 'my_services' %}">SERVICES</a>
        <a href="{% url 'my_vblog' %}">ABOUT US</a> 
        <a href="#contact">CONTACT</a>
    </nav>

    <header class="hero-section">
        <img src="{% static 'images/valgus2.png' %}" class="logo-img" alt="Valgus Logo">
    </header> 

    <section class="title-container"> 
        <h1 class="main-title">READY-MADE <br> SYSTEMS</h1>
    </section>

    <div class="shop-grid-container">
        {% for site in websites %}
        <div class="shop-card">
            <div class="geometric-frame">
            <img src="{% static 'images/'|add:site.image_filename %}" alt="{{ site.name }}" class="img-fluid">
        </div>
            <div class="shop-card-content">
                <div class="card-tags">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>BOOTSTRAP</span>
                    <span>JS</span>
                </div>
                <h2 class="block-heading">{{ site.name }}</h2>
                <p class="block-desc2">{{ site.description }}</p>
                
                <p class="block-desc2 small">CREATED: {{ site.created_at|date:"d.m.Y" }}</p>
                <p class="block-desc2 small">STATUS: {% if site.is_available %}AVAILABLE{% else %}SOLD{% endif %}</p>
                
                <div class="price-tag">KES. {{ site.price }}</div>
                <a href="{{ site.preview_link }}" target="_blank" class="brutalist-btn shop-btn">LIVE_PREVIEW</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<footer class="industrial-footer" id="contact">
    <div class="footer-base">
        <h2 class="huge-footer-text">ACQUIRE</h2>
        <a href="https://wa.me/254740402400" class="brutalist-btn">ENQUIRE_SYSTEM</a>
    </div>
</footer>

<button class="theme-toggle" onclick="document.body.classList.toggle('dark-mode')">THEME</button>

</body>
</html>